@charset "UTF-8";

.business_contents_1_wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bussiness/bussiness2.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.business_contents_1_inner {
  width: 100%;
  height: auto;
}

.business_contents_1_inner_top {
  width: 70%;
  height: auto;
  margin: 0 auto;
  background-color: rgb(245, 242, 235);
  font-size: 2rem;
  letter-spacing: 1rem;
  line-height: 3rem;
  ;
}

hr {
  margin: 0 auto;
  background-color: black;
  height: 3px;
  width: 75%;
  margin-top: 3%;
}

.business_contents_1_inner_under {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 3%;
  font-size: 1.5rem;
  line-height: 4rem;
}

.business_contents_wrapper {
  width: 100%;
  height: auto;
}

.business_contents_2_inner_description{
  display: flex;
  text-align:center;
}

.business_contents_2_inner_description_under{
  text-align: left;
}

.business_contents_4 {
  width:100%;
  text-align: center;
}

.business_contents_4_ttl {
  width:100%;
}

.business_cotents_4_ttl h1 {
  font-size: 3rem;;
}

.business_cotents_4_ttl span{
  font-size: 1.5rem;
  color:rgb(12, 181, 155, 100%);
  font-style: italic;
}

.business_contents_4_description_wrapper {
  height:80vh;
  width: 100vw;
  background-color: rgb(21,224,193);
  display: flex;
  justify-content: center;
  align-items: center;
}

.business_contents_4_description_wrapper_inner {
  box-sizing: border-box;
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1%;
  background-color: #fff;
}

.business_contents_4_description_inner_left {
  box-sizing:border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.business_contents_4_description_inner_left_txt {
  width: 60%;
  height:100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.business_contents_4_description_inner_left_top p {
  font-size: 3rem;
  color: rgb(21,224,193);
}

.business_contents_4_description_inner_left_under {
  width:100%;
  line-height: 2.5rem;
  text-align: left;
  font-size: 1rem;
}

.business_contents_4_description_inner_right {
  width:50%;
}

.business_contents_4_description_inner_right img {
  width:100%;
  height:100%;
  object-fit: cover;
}