@charset "UTF-8";

body {
  font-size: 13px;
  word-break: break-all;
  font-family:'Noto Serif JP' ,serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-family:none;
}

.header_wrapper {
  width:100%;
  background-color: rgba(49,55,75,70%);
  position:fixed;
  z-index: 100;
}

.header_inner {
  width: 90%;
  margin:0 auto;
  height:auto;
  padding:0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title span {
  font-size: 3rem;
}

.header_list ul{
  display: flex;
  margin-right: auto;
  font-size: 1.5rem;
}

.header_list .color {
  color: rgb(29, 25, 25);
}

.header_list li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header_list li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background: rgb(235, 230, 230);
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.header_list li a:hover::after {
  transform: scale(1, 1);
}

.section_ttl {
  margin-top:3rem;
  margin-bottom:2rem;
  font-size: 4rem;
  text-align: center;
}

.section_ttl span{
  font-family: Playfair Display;
  color: rgb(12,181,155,100%);
  font-size: 2.2rem;
  font-style: italic;;

}

.btn {
  margin: 0 auto;
  width: 20%;
  line-height: 3;
  font-weight: normal;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  border-radius: 15px;
  background-color: aqua;
  text-align: center;
  color: blanchedalmond;
  font-weight: bold;
}

.btn a:hover {
  opacity: 0.6;
}

.works_photo_wrapper {
  width:100%;
  height: auto;
}

.works_photo_inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works_photo_block {
  width:20%;
  height:100%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom:7%;
  position: relative;
}

.works_photo_img {
  width: 100%;
  height:50%;
}

.works_photo_img img {
  width:100%;
  height:auto;
}

.works_photo_description {
  width:30%;
  height:20%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2rem;
  border:solid;
  background-color: white;
  position: absolute;
  top:60%;
  left:55.3%;
}

.works_btn {
  margin-bottom: 5%;
}

.contact {
  width: 100%;
  height:60vh;
  border:solid;
  overflow: hidden;
}

.contact_wrapper {
  width: 100%;
  height:60vh;
}

.contact_inner {
  width:100%;
  height:60vh;
  display: flex;
  text-align: center; 
  align-items: center;
}

.contact_left_content {
  height:100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right:solid;
}

.contact_left_content_top {
  line-height: 3rem;
  text-align: center;
}

.contact_left_content_top_ttl{
  font-size: 2rem;
}

.contact_left_content_top_ttl_sub{
  display: inline-block;
  width:15%;
  padding-top:3rem;
  font-size:1.5rem;
  color:rgb(94, 98, 98);
  border-bottom: solid 1px;
}

.contact_left_content_under {
  font-size: 1rem;
  line-height: 2rem;
}

.contact_right_content {
  display:block;
  width:100%;
  flex-basis: 50%;
}

.contact_right_content_inner{
  width:100%;
}

.telephone_number {
  font-weight:bold;
  padding:5%;
}

.contact_right_content_inner p{
  font-size: 3rem;
}

.contact_right_content_inner p span{
  font-size: 2rem;;
}

/* フッター */
footer {
  width: 100%;
  height: 40vh;
  background-image: url(../img/top/footer\ bg.jpg);
}

.footer_wrapper {
  width: 100%;
  height: 100%;
}

.footer_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.footer_left_content {
  height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer_left_content_top {
  line-height: 3rem;
  text-align: left;
  padding-left: 20%;
}

.footer_left_content_top_ttl {
  font-size: 3rem;
}


.footer_right_content {
  width: 100%;
  height:40vh;
  flex:1;
}

.footer_right_content_inner {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer_right_content_list_1 {
  font-size: 1rem;;
  line-height: 4rem;
  text-align: left;
  border-left: solid 5px;
  margin-right: 5%;
}

.footer_right_content_list_2 {
  font-size: 1rem;
  line-height: 4rem;
  border-left: solid 5px;
}

li a{
  color: black;
}

.footer_copyright {
  text-align:center;
  position: relative;
}

.footer_copyright p{
  position:absolute;
  font-size: 1rem;
  left:45%;
  top:-2rem;
}
