@charset "UTF-8";

.company_information {
  width: 100vw;
  height:100vh;
}

.company_information_wrapper {
  width: 100%;
  height: 100%;
  background-image: url(../img/comapany/Frame49.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information_inner{
  width: 80%;
  height: 70%;
}

.information_list{
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 4rem;
}

.information_list li{
  width: 100%;
  display: flex;
  line-height: 6rem;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.information_item .ttl {
  width: 30%;
  text-align: center;
  vertical-align: middle;
}

.information_item .txt {
  width: 70%;
  text-align: left; 
  padding-left: 30rem;
}




